# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Fernando\Documentos\My PC (DESKTOP-42M1O9I)\Documents\GitHub\Projetos-C\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
